<head>
  <title>{{ page.title }} - Rodrigo Pinto</title>
  <meta charset='utf-8' />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="{{ page.description }}" />
  <meta name="author" content="Rodrigo Pinto - http://rodrigopinto.me" />
  <meta property="og:title" content="{{ page.title }} - Rodrigo Pinto"/>
  <meta property="og:site_name" content="rodrigopinto.me"/>
  <!-- <meta property="og:image" content="http://rodrigopinto.me/images/logo_sq.jpg"/> -->
  <meta property="og:description" content="{{ page.description }}" />

  <meta content='©2012 HE:labs' name='copyright' />
  <meta name="robots" content="index,follow" />

  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=480, user-scalable=no" />

  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>