<head>
  <title>{{ page.title }} - Rodrigo Pinto</title>

  <meta charset='utf-8' />
  <meta name="author" content="Rodrigo Pinto - http://rodrigopinto.me" />
  <meta name="keywords" content="developer, ruby on rails, software engineer, programmer, deliveryman software" >
  <meta content="Hi! I'm Rodrigo Pinto, a passionate software developer from Rio de Janeiro, Brazil. I've been working with software develoment since early 2007 delivering awesome apps using Ruby on Rails or some other great tool for a specific case. Your project may be the next awesome project that I will work." name="description">

  <meta property="og:title" content="{{ page.title }} - Rodrigo Pinto"/>
  <meta property="og:site_name" content="RodrigoPinto.me"/>
  <meta property="og:type" content="blog"/>

  <meta name="robots" content="ALL" />
  <meta name="google-site-verification" content="HCFh3No285gxMFk2gLO5v73XaB9oamzkg5KB70A6rRY" />

  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=480, user-scalable=no" />

  <link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />

  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>