<section class="container social">
  <nav class="container">
    <ul>
      <li>
        <a href="/atom.xml" title="Feed Rodrigo Pinto Blog" target="_blank">
          <img src="/images/feed.jpg">
        </a>
      </li>
      <li>
        <a href="http://github.com/rodrigopinto" title="Github Rodrigo Pinto" target="_blank">
          <img src="/images/github.jpg">
        </a>
      </li>
      <li>
        <a href="http://twitter.com/rodrigoospinto" title="Twitter Rodrigo Pinto" target="_blank">
          <img src="/images/twitter.jpg">
        </a>
      </li>
      <li>
        <a href="http://rubygems.org/profiles/rodrigoospinto" title="Rubygems Rodrigo Pinto" target="_blank">
          <img src="/images/rubygems.jpg">
        </a>
      </li>
    </ul>
  </nav>
</section>
