html, body, div, h1, h2, h3, h4, ul, ol, li, form, fieldset, select, input, textarea, p, blockquote, figcaption, figure {
  font-size: 100%;
  background: transparent;
  margin: 0;
  padding: 0; }

del {
  text-decoration: line-through; }

hr {
  display: none; }

ul, ol {
  list-style: none; }

img, fieldset {
  border: none; }

h1, h2, h3, h4 {
  font-weight: 400; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted; }

pre, code {
  font-family: monospace; }

body {
  font-size: 100%;
  line-height: 1.25;
  font-family: Lato,Helvetica,Arial,sans-serif;
  color: #2e2633; }

a {
  color: #122B39; }

blockquote {
  margin: 10px 25px;
  padding: 20px 20px 10px 45px;
  border: 1px solid #f0f0f0;
  background: #f8f8f8 no-repeat 12px 12px;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.5em;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, Serif;
  color: #555; }

.right {
  float: right; }

.left {
  float: left; }

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 57.5em; }

header.top {
  border-top: solid 10px #01d49a;
  background-image: url("/images/bg-topo.jpg");
  background-repeat: repeat-x; }
  header.top h1, header.top h2 {
    text-transform: uppercase;
    text-align: center; }
  header.top h1.logo {
    font-family: 'GearedSlab';
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 5.0em; }
    header.top h1.logo a,
    header.top h1.logo a:hover,
    header.top h1.logo a:visited,
    header.top h1.logo a:active {
      color: #122b39;
      text-decoration: none; }
  header.top h2 {
    margin-bottom: 30px;
    width: 100%;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 2.4em;
    color: #01d49a; }
  header.top p.date {
    border-bottom: solid 2px #d9ece5;
    margin: 0 auto 1.2em;
    padding-bottom: 1.2em;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
    color: #01d49a; }

section.social ul {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center; }
  section.social ul li {
    display: inline;
    padding: 0 5px; }
    section.social ul li a {
      padding-bottom: 18px;
      padding-right: 3px;
      text-decoration: none; }
    section.social ul li a:hover {
      opacity: 0.8; }

section.posts {
  margin-top: 1.5em; }
  section.posts article.post header {
    border-bottom: solid 2px #d9ece5;
    clear: both;
    margin-bottom: 20px; }
    section.posts article.post header ul.date {
      margin: 0 0 1.2em 0;
      width: 160px;
      list-style: none;
      text-transform: uppercase;
      color: #01d49a; }
      section.posts article.post header ul.date li {
        display: inline;
        font-family: 'Lato';
        font-weight: 500;
        font-size: 22px; }
    section.posts article.post header h1 {
      margin-left: 160px;
      margin-bottom: 1.2em; }
      section.posts article.post header h1 a, section.posts article.post header h1 a:hover, section.posts article.post header h1 a:active, section.posts article.post header h1 a:visited {
        text-decoration: none;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 22px;
        color: #122b39; }
  section.posts article.post .body img {
    margin: 20px;
    max-width: 900px; }
  section.posts article.post .body p, section.posts article.post .body .gist-file {
    margin-top: 1.2em; }
  section.posts article.post .body p, section.posts article.post .body blockquote {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 18px;
    color: #666;
    line-height: 1.6; }
  section.posts article.post .body pre.terminal {
    margin: 1.2em;
    background-color: #F0F0F0;
    font: bold 16px "Monaco";
    color: #02be02;
    border: 1px solid #cccccc;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px; }
  section.posts article.post .disqus_block {
    margin-top: 1.2em; }

footer {
  color: #FFF;
  background-color: #122b39;
  text-transform: uppercase; }
  footer div {
    padding: 40px; }
  footer a,
  footer a:visited,
  footer a:active,
  footer a:hover {
    font-weight: 300;
    color: #fff;
    text-decoration: none; }
  footer nav ul {
    text-align: center; }
    footer nav ul li {
      display: inline;
      font-family: 'Lato';
      font-weight: 100;
      font-size: .8em;
      padding: 2px 8px;
      border-right: 1px solid white; }
    footer nav ul li:last-child {
      padding-right: none;
      border-right: none; }
  footer p.creative-commons {
    text-align: center;
    padding-top: 10px;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 1.4em;
    color: #01d49a; }
    footer p.creative-commons a,
    footer p.creative-commons a:visited,
    footer p.creative-commons a:active {
      color: #01d49a;
      text-decoration: none; }
    footer p.creative-commons a:hover {
      text-decoration: underline; }
