<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
	<meta name="author" content="Rodrigo Pinto - RodrigoPinto.me" />
	<meta name="description" content="Rodrigo Pinto blogs about Ruby, Rails, agile methodologies, web development and others software development stuffs." />
	<meta name="keywords" content="rodrigo pinto, ruby, rails, sofware development, agile, open source" />
	<meta name="robots" content="index, follow, noarchive" />
	<meta name="googlebot" content="noarchive" />
	<title>Rodrigo Pinto - {{ page.title }}</title>
<style type="text/css" media="all">
  @import "/static/css/screen.css";
</style>

</head>

<body>
<div id="header-wrap">
	<div id="header">
		<a name="top"></a>

	  <h1 id="logo-text"><a href="/" title="">Rodrigo Pinto</a></h1>
	  <p id="slogan"></p>
		<div  id="nav">
	    <ul>
	      <li><a href="/">Home</a></li>
	      <li><a href="/about">About</a></li>
	    </ul>
	  </div>
		<p id="rss">
	  	<a href="/atom.xml"></a>
	  </p>
	</div>
</div>

<div id="content-wrap" class="clear" >
  <div id="content">
		<div id="main">
        {{ content }}
    </div>

		<div id="sidebar">
      <div class="about-me">
				<h3>About Me</h3>
        	<p>
        		<a href='#'>
          		<img src='http://www.gravatar.com/avatar/de89dceb54a28b2aa952663cc94d60fc?s=40' height='40' width='40' rel="nofollow" class='float-left' />
          	</a>
						I am a passionate software developer, building better software through thoughts and knowledge driven by
						<a href="http://smallactsmanifesto.org" title="Small Acts Manifesto">Small Acts</a>.
        </p>
			</div>
			<div class="sidemenu social">
				<h3>I am social at</h3>
        <p>
          <a href='http://github.com/rodrigopinto'>
            <img src='/images/github_64.png' height='40' width='40' rel="nofollow" class='float-left' />
          </a>
          <a href='http://www.linkedin.com/in/rodrigoospinto'>
            <img src='/images/linkedin_64.png' height='40' width='40' rel="nofollow" class='float-left' />
          </a>
          <a href='http://twitter.com/rodrigoospinto'>
            <img src='/images/twitter_64.png' height='40' width='40' rel="nofollow" class='float-left' />
          </a>
        </p>
			</div>
      <div style="clear: both;"></div>
			<div class="sidemenu">
  			<h3>#Horaextra</h3>
              <ul>
          <li><a href="http://metronus.com/blog/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">André Fonseca</a></li>
            <li><a href="http://caikesouza.com/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Caike Souza</a></li>
            <li><a href="http://diegodukao.net/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Diego Dukão</a></li>
            <li><a href="http://blog.distopico.org/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Edgard Arakaki</a></li>
            <li><a href="http://gc.blog.br/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Guilherme Chapiewski</a></li>
            <li><a href="http://henriquebastos.net/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Henrique Bastos</a></li>
            <li><a href="http://tapajos.me/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Marcos Tapajós</a></li>
            <li><a href="http://mariomariani.blogspot.com/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Mário Mariani</a></li>
            <li><a href="http://rafael.adm.br/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Rafael Lima</a></li>
            <li><a href="http://rafael.tauil.com.br/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Rafael Tauil</a></li>
            <li><a href="http://ramonpage.com/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Ramon Bispo</a></li>
            <li><a href="http://mergulhao.info/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Sylvestre Mergulhão</a></li>
            <li><a href="http://vp.blog.br/?utm_source=horaextra.org&amp;utm_medium=affiliate&amp;utm_content=textlink&amp;utm_campaign=horaextra">Vitor Pellegrino</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

	<div id="footer-outer" class="clear"><div id="footer-wrap">
	  <div class="col-a"></div>
	  <div class="col-a">
		</div>
		<div class="col-a"></div>
		<div class="col-b"></div>
	</div>
</div>

<div id="footer-bottom">
  <p class="bottom-left">
    &copy; 2010 <strong>Copyright Rodrigo Pinto</strong>&nbsp; &nbsp; &nbsp;
    <a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
  </p>

  <p class="bottom-right">
    <a href="/">Home</a> |
    <a href="/atom.xml">RSS Feed</a> |
      <strong><a href="#top">Back to Top</a></strong>
   </p>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'rodrigopinto'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13130320-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
